@charset "utf-8";
.wrap{
    width: 1000px;
    height: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% auto;
    border-radius: 50px;
    overflow: hidden;
}
.left_area{
    width: 50%;
    height: 100%;
    background: linear-gradient(135deg, #b669a3, #8497d8);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left_area figure{
    width: 10em;
    height: 10em;
    padding: 1em;
    border: 10px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_area figure img{
    width: 8em;
    height: 8em;
}
.left_area .text_area{
    margin-top: 1.5em;
    text-align: center;
    color: #fff;
} 
.left_area .text_area strong{
    font-size: 2.5rem;
}
.left_area .text_area p{
    font-size: 2rem;
}
/* left */



.right_area{
    box-sizing: border-box;
    width: 50%;
    padding: 0 3em;
}
.right_area .title_area{
    height: 20%;
    margin-bottom: 3em;
}
.right_area .title_area p{
    margin-bottom: 0.2em;
    font-size: 1.5rem;
    color: #b669a36b;
}
.right_area .title_area strong{
    font-size: 2.5rem;
    color: #b669a3;
}
.right_area .input_area{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 60%;
}
.input_area .input div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input_area .input div form{
    width: 80%;
}
.input_area .input:nth-child(1) div figure{
    width: 2.5em;
    height: 2em;
    overflow: hidden;
}
.input_area .input:nth-child(2) div figure{
    width: 2em;
    height: 2.5em;
    overflow: hidden;
}
.input_area .input div figure img{
    width: 100%;
    height: 100%;
}
.input_area .input div form input{
    width: 100%;
    height: 2.5em;
    border: 2px solid #aebac7;
    border-radius: 40px;
    padding-left: 10px;
}
.input> .checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    padding-left: 45%;
    margin: 0.1em 0 0.8em 0;
}
.input> form p{
    color: rgba(0, 0, 0, 0.6);
}
.input> p{
    color: rgba(0, 0, 0, 0.6);
    margin: 0.1em 0 0.8em 0;
    text-align: right;
}

.btn_area{
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 10%;
    margin-bottom: 1em;
}
.btn_area a{
    width: 45%;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5em 0;
    border-radius: 1em;
    box-sizing: border-box;
}
.btn_area a:nth-child(1){
    background-color: #b669a3;
}
.btn_area a:nth-child(2){
    background-color: #fff;
    color: #8497d8;
    border: 1px solid #8497d8;
}
.sns_area{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em auto 0;
}